/** main **/

.container.full {
	width: 100%;
	margin: 10px 0 0 0;
	padding: 0;
}

.main {
	margin: 0;
  padding-left: 5px;
}

.main .block {	
	float: left;
	margin: 0 0 10px 0;
  padding: 0;
}

.main .block .wrapper {
  display: block;
  background-color: #ffffff;
	border-radius: 5px;
	border: 1px solid #ededef;
  margin: 0 5px;
}

.main .block .heading {
	background-color: #f6f7f9;
	height: 44px;
	line-height: 44px;
}

.main .block .heading h3{
	margin: 0;
	padding: 0;
	line-height: 44px;
	font-size: 14pt;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.main .block .heading .actions a {
	font-size: 10pt;
	color: #949ca7;
	text-decoration: none;
}

.main .block .body {
	display: block;
  padding: 0 20px 0 20px;
}

.main .block .body .delimiter {
  border-left: 1px solid #eeeeee;
}

.main .block .body .content h4 {
	font-size: 18pt;
  font-weight: normal;
  letter-spacing: 1px;
}

.main .block .body a.action {
	color: #00adef;
  font-size: 12pt;
  display: inline-block;
  margin-bottom: 10px;
}

.main .block .body p {
	padding: 10px 0;
}

.main .block.cols-1 {
	//width: 280px;
  width: 30%;
}

.main .block.cols-2 {
	//width: 560px;
  width: 60%;
}

.main .block.cols-3 {
	//width: 840px;
  width: 90%;
}

.main .block.rows-1 {
	min-height: 300px;
}

.main .block.rows-1 .body .content {
	height: 215px;
  /*line-height: 130px;*/
}

.main .block.rows-2 {
	min-height: 600px;
}

.main .block.rows-2 .body .content {
	height: 430px;
  /*line-height: 260px;*/
}

.main .block.rows-3 {
	min-height: 900px;
}

.main .block.rows-3 .body .content {
	height: 545px;
  /*line-height: 390px;*/
}

dl.schedule dd {
  color: #838fa5;
  font-size: 10pt;  
}

dl.schedule dt {
  font-size: 14pt;  
}

dl.schedule dt:before {
  content: "●";
  display: inline-block;
  color: #00adef;
  margin: 0 5px 0 -15px;
}

.main .block.services {
  background-color: #f6f7f9;
  border-radius: 5px;
  margin: 40px 0 0 5px;
}

.main .block.services .heading h3 {
  font-size: 13pt;
}

.main .block.services .heading .actions a {
  color: #00adef;
}

.main .block.services .body {
  padding: 10px;
  background-color: #f6f7f9;
}

.main .block.services .body:after {
  display: block;
  content: '';
  clear: both;
  height: 0;
  font-size: 0;
}

.main .block.services .body .service {
  float: left;
  border-radius: 5px;
  border: 1px solid #dfe2e9;
  background-color: #ffffff;
  margin: 10px 10px 10px 0;
  width: 140px;
  height: 140px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.main .block.services .body .service.selected {  
  border: 2px solid #00adef;
  padding: 9px;
}

.main .block.services .body .service .title {
  display: inline-block;
  margin-top: 5px;
}

/** responsive */

@media (max-width: 990px) {
  .container.full {
    margin-top: 0;
  }

  .container.full .row {
    margin-left: 0;
    margin-right: 0;
  }

  .main {
    padding: 0;
  }

  .main .block {
    margin: 0;
  }

  .main .block .wrapper {
    margin: 0;
  }

  .main .block.services {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .main .block .body .delimiter {
    border-left: none;
    border-top: 1px solid #eeeeee;
  }

  .main .block.services .heading div {
    padding: 0;
  }

  .main .block.services .heading h3 {
    white-space: initial;
    overflow: initial;
    text-overflow: initial;
    line-height: 1.4;
    padding: 10px 5px 0 0;
  }

  .main .block.services {
    padding: 0;
  }

}



@media (max-width: 468px) {
  .sidebar .block {  
    padding: 0;
  }
}

