/** navbar-default */

.navbar-main {
	background-color: #ffffff;
	color: #000000;
	min-height: 60px;
	margin-bottom: 0;
	border-radius: 0;
}

.navbar-main .navbar-brand .logo {
	fill: #c92723;
    font-size: 2.11em;
    vertical-align: middle;
	width: 2.48913em;
	margin-top: -3px;
}

.navbar-main .navbar-nav {
	line-height: 30px;
	min-height: 30px;
	margin-top: 15px;
}

.navbar-main .navbar-nav > li > a {
	color: #000000;
	line-height: 30px;
    font-weight: 400;
    padding: 0 20px;
    display: inline-block;
	font-size: 17px;
}

.navbar-main .search-form {
	float: left;
	border-left: 1px solid #e5e5e5;
	height: 59px;
	margin-top: 0;
	line-height: 55px;	
	width: 30%;
}

.navbar-main .search-form input[type="text"] {
	border: none;
	font-size: 12pt;
	outline: none;
	padding: 2px 10px 0 10px;
	width: 100%;
}

.navbar-main .search-form button,
.navbar-main .search-form input[type="submit"] {
	display: none;
}

/** responsive */

#navbar-main-collapse.in {
  overflow-y: initial;
}

@media (max-width: 1099px) {
	.navbar-main .navbar-nav > li > a {
		padding: 0 10px;
	}
}

@media (max-width: 990px) {
	.navbar-main .navbar-nav > li > a {
		padding: 0 5px;
	}
}

@media (max-width: 890px) {	
	.navbar-main .search-form {
		width: 19%;
	}
}

@media (max-width: 768px) {	

	.navbar-main .navbar-nav {
		margin-left: 8px;
	}

	.navbar-main .search-form {
		width: 100%;
		border: none;
	}
}

@media (max-width: 360px) {	
	.navbar-topbar a.navbar-brand {
		font-size: 10pt;
		font-weight: normal;
	}
}