/** navbar-topbar */

.navbar-topbar {
	background-color: #c92724;
	margin-bottom: 0;
	border-radius: 0;
	min-height: 40px;
}

.navbar-topbar:after {
	display: block;
	content: '';
	clear: both;
	height: 0;
	font-size: 0;
}

.navbar-topbar .navbar-nav > li > a {
	padding-top: 10px !important; 
	padding-bottom: 10px !important;
}

.navbar-topbar .navbar {
	min-height: 40px !important
}

.navbar-topbar .navbar-nav > li:before {
	position: absolute;
	display: block;
	content: '';
	background-color: #ea9088;
	width: 1px;
	height: 24px;
	margin-top: 12px;	
}

.navbar-topbar .navbar-nav > li:first-child:before {
	display: none;
}

.navbar-topbar a {
	color: #f4bdb8;
	font-weight: bold;
}

.navbar-topbar .navbar-nav > li > a:hover,
.navbar-topbar .navbar-nav > li > a:active,
.navbar-topbar .navbar-nav > li > a:focus,
.navbar-topbar .open > a {	
	background-color: transparent !important;
	color: #ffffff;
}

.navbar-topbar a.navbar-brand {
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
	height: 40px;
	padding-top: 10px;
}

.navbar-topbar .fa {
	font-size: 12pt;
}

.navbar-topbar a.notification .badge {
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 10px;
	margin-top: 10px;
	font-size: 8pt;
	padding: 2px 4px;
	background-color: #fab0ad;
	color: #c92724;
}

.navbar-topbar img.lang-select {
	border: 1px solid #ffffff;
	margin-top: -5px;
	padding: 0;
	width: 24px;
}

.navbar-topbar ul.lang-select li span {
	display: inline-block;
	width: 80px;
}

#navbar-topbar-collapse {
  width: 100%; 
}

/** responsive */

.navbar-topbar .navbar-toggle {
  border: 1px solid #ffffff;
}

.navbar-topbar .navbar-toggle:active,
.navbar-topbar .navbar-toggle:focus {
  background-color: #f6b1aa;
}

.navbar-topbar .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

#navbar-topbar-collapse.in {
  overflow-y: initial;
}

@media (max-width: 767px) {
	.navbar-topbar a.navbar-brand {
    padding-top: 15px;
  }

  .navbar-topbar .navbar-nav > li:before {
    display: none;
	}

  .navbar-topbar .navbar-nav > li {
    float: left;
  }

  .navbar-topbar .navbar-nav > li > a {
    display: inline-block;
    padding-left: 20px;
  }
}

@media (max-width: 480px) {
  .navbar-topbar .navbar-nav > li {
    float: none;
  }
}