/** sidebar **/

.sidebar {
	background-color: #ffffff;	
	border-top: 1px solid #e6e9ee;	
	border-right: 1px solid #e6e9ee;	
	border-top-right-radius: 5px;
	padding: 0 0 0 30px;
}

.sidebar .block {
	border-bottom: 1px solid #e6e9ee;
	padding: 10px;
}

.sidebar .block:last-child {
	border-bottom: none;
	padding-bottom: 20px;
}

.sidebar .block:after {
	display: block;
	content: '';
	clear: both;
	height: 0;
	font-size: 0;
}

.sidebar .block h3 {
	font-size: 14pt;	
}

.sidebar .block h3 a {
	font-size: 14pt;
	color: #c0c9d8;
	padding: 0 4px;
}

.sidebar .block h3 a.clickable { 
	color: #02bdf4;
}

.sidebar .block h3 a:hover {
	text-decoration: none;
}

.sidebar .block ul,
.sidebar .block ul li {
	list-style: none;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0
}

.sidebar .block.hello h3 {
	color: #02bdf4;
}

.sidebar .block.notifications ul li a {
	display: inline-block;
	padding: 3px 0;
	color: #000000;
}

.sidebar .block.notifications ul li a:hover {
	text-decoration: none;
}

.sidebar .block.notifications ul li a i {
	display: inline-block;
}

.sidebar .block.notifications ul li a span.title {
	display: inline-block;
	margin: -30px 0 0 30px;
}

.sidebar .block.notifications ul li a .badge-btn {
	display: inline-block;
}

.sidebar .block.calendar table.week {	
	width: 105%;
	margin-left: -8px;
}

.sidebar .block.calendar table.week th {
	text-transform: uppercase;
	font-size: 8pt;
	color: #8695aa;
	font-weight: normal;
	text-align: center;
}

.sidebar .block.calendar table.week td {
	padding-top: 5px;
	text-align: center;
}

.sidebar .block.calendar table.week td .current {
	background-color: #c41b18;
	display: inline-block;
	padding: 1px 3px;
	border-radius: 5px;
	color: #ffffff;
}

.sidebar .block.calendar table.week td a,
.sidebar .block.calendar table.week td a:hover {
	color: #000000;
	text-decoration: none;
	display: inline-block;
	position: relative;
}

.sidebar .block.calendar table.week td a span {
	display: inline-block;
	width: 5px;
	height: 5px;
	overflow: hidden;
	background-color: #c41b18;
	color: #c41b18;
	position: absolute;
	right: -5px;
	top: -2px;
	font-size: 1pt;
	border-radius: 5px;
	padding: 3px;
}

.sidebar .block.calendar .events {
	margin-top: 20px;
}

.sidebar .block.calendar .events dd {
	margin-top: 10px;
	color: #8695a8;
}

.sidebar .block.calendar .events dt {
	color: #000000;
	font-weight: normal;
}

.sidebar .block.applications dd {
	margin-top: 10px;
}

.sidebar .block.applications dt {
	color: #000000;
	font-weight: normal;
}

.sidebar .block.applications dd.success {
	color: #3fb5a7;
}

.sidebar .block.applications dd.waiting {
	color: #e8bd32;
}

.badge-btn i {
	border-radius: 50px;
	background-color: #26b8ad;
	color: #ffffff;
	padding: 5px 6px;
	font-size: 10pt;
}

/** responsive */

@media (max-width: 990px) {
  .sidebar .block.calendar table.week {	
    width: 95%;
  }
}

@media (max-width: 480px) {
  .sidebar {
    padding-left: 15px;
  }
}

@media (max-width: 360px) {	
	.navbar-topbar a.navbar-brand {
		font-size: 10pt;
		font-weight: normal;
	}
}